:root {
    /* Color Palette */
    --color-bg: #ebe9e1;
    --color-bg2: #ffffff;
    --color-primary: #0a4364;
    --color-secondary: #efb11d;
    --color-triary: #d6536d;
    --color-border: #eeeeee;
    --color-text-main: black;
    --color-text-white: #ffffff;

    /* Font Settings */
    --font-header: "Fjalla One", sans-serif;
    --font-body: "Cantarell", sans-serif;
    --font-size-small: 0.875rem;
    --font-size-base: 1rem;
    --font-size-large: 1.25rem;
    --font-size-xlarge: 1.5rem;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body); 
}

h1 {
    font-size: x-small;
}

h2, h3 {
    font-family: var(--font-header);
    color: var(--color-primary);
}

header, main, footer{
    background-color: var(--color-bg);
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem;
    align-items: end;
}

nav {
    background-color: #ffffff;
}

#myButton::before {
    content: "\2630";
}

#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--color-text-main);
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw;

}

ul.menuLinks li a {
    display: block;
    padding: .75rem 2vw;
    font-family: var(--font-body);
    font-weight: 700;
    text-decoration: none;
    color: var(--color-text-main);
}

li.current-menu-item a{
    background-color: rgba(239, 177, 29, 0.2);
}

ul.menuLinks {
    list-style-type: none;
} 

#myButton.open::before {
    content: "x"
}

nav { 
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul {overflow: hidden;}

nav.open {
    grid-template-rows: 1fr;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.hero-right-content {
    display: flex;
    flex-direction: column;
}

#hero picture  ,#hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

h2  {
    color: #000000;
    margin-left: 2rem;

}

#hero h2{
    font-size: 4rem;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

#keynote-ticket {

    margin-top: 1rem;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-text-main);
    background-color: var(--color-secondary); /* Use your color variable */
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

section {
    padding: 2rem;
}

.intro-card-container{
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    margin-bottom: 3rem;
}


div.intro-card {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    margin-bottom: 1rem;
}

.intro-card img {
    height: 100px; 
    width: auto; 
}

div.intro-card h3 {
    background-color: var(--color-primary);
    color: #ffffff;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem ;
    text-align: center;
}

div.intro-content {
    display: flex;
    height: 100%;
    flex-direction: row;
    background-color: #ffffff;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1rem;
    justify-content: center;
    gap: 1rem;
}

div.intro-card table {
    font-size: large;
}

.business-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px; 
    background-color: #ffffff;
}

.business-card img {
    border-radius: 3rem;
}

#business-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.business-directory {
    display: flex;
    flex-direction: column;
}

.list-grid-btn
{
    display: flex;
    margin-bottom: 1rem;
    align-self: center;
    gap: 10px;
}
 

.list-grid-btn button {
    display: flex; /* Allows image and text to sit next to each other */
    align-items: center; /* Vertically aligns content */
    gap: 0.5rem; /* Adds space between the image and text */
    color: var(--color-text-white); /* Text color */
    background-color: var(--color-secondary);
    border: none; /* Removes default border */
    border-radius: 8px; /* Optional rounded corners */
    padding: 0.5rem 1rem; /* Space inside the button */
    cursor: pointer; /* Changes cursor to pointer */
    font-family: var(--font-body); /* Use your defined font */
}

#business-cards.list-view {
   display: flex;
   flex-direction: column;
   justify-content: center;
}


#business-cards.list-view .business-card {
    margin: 0;
    padding: 1rem;
    width: 100%;
}

#business-cards.list-view .business-card:nth-child(odd) {
    background-color: #f9f9f9; /* Zebra striping */
}

#business-cards.list-view .business-card:nth-child(even) {
    background-color: #ffffff;
}

.business-card.list-item {
    display: grid; 
    grid-template-columns: 2fr 1fr 1fr 1fr;
    padding: 0.25rem;
    justify-items: center;
    max-width: none;
    border-radius: 0;
    box-shadow: none;
    align-items: center;
}

.business-card.list-item img {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: start;
    padding: 20px;
    background-color: #dfd8c3;
    color: var(--color-text-black);
}

.footer-socials, .footer-socials ul {
    list-style: none;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-socials .socials-content {
    margin: 0 10px;
}

.footer-socials .socials-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.footer-socials .socials-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.footer-socials .socials-content .link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #efefef;
    transition: all 0.3s ease-in-out;
}

.footer-socials .socials-content .link:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.footer-socials .socials-content .link img {
    width: 30px;
    height: 30px;
}



#lastModifiedDate {
    font-size: var(--font-size-small);
}

