@media (min-width: 640px) {
    main {
        grid-template-columns: 1fr 1fr;
        padding-top: 300px;
    }

    .header-title {
        font-size: 2rem;
    }

    .header li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        text-align: center;
    }

    .header li a {
        display: block;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
    }

    .menu-icon {
        display: none;
    }

    .header .menu {
        max-height: none;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    nav ul {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0;
    }

    .flex-container {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .span-two-columns {
        grid-column: span 2;
    }

    .directory-options {
        grid-template-columns: repeat(3, 1fr);
    }
}
